<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScienceList</key>
	<array>
		<dict>
			<key>science_txt</key>
			<string>Normalverdier

Den fysiske formen er svært viktig for lang levetid og god helse, og det maksimale oksygenopptaket (kondis) er det mest presise målet på generell kardiovaskulær form. Fram til nå har det ikke eksistert noe sterkt materiale som beskriver hvilke nivåer av kondisjon som kan forventes i en frisk voksen befolkning. For å undersøke dette, og videre se på hvordan kondisjon henger sammen med de tradisjonelle risikofaktorer testet forskere ved K.G. Jebsen senter for hjertetrening ved NTNU kondisjonen mer enn 4600 friske nordmenn i alderen 20-90 år.

Forskerne fant at kvinner og menns </string>
		</dict>
		<dict>
			<key>science_txt</key>
			<string>Normalverdier

Den fysiske formen er svært viktig for lang levetid og god helse, og det maksimale oksygenopptaket (kondis) er det mest presise målet på generell kardiovaskulær form. Fram til nå har det ikke eksistert noe sterkt materiale som beskriver hvilke nivåer av kondisjon som kan forventes i en frisk voksen befolkning. For å undersøke dette, og videre se på hvordan kondisjon henger sammen med de tradisjonelle risikofaktorer testet forskere ved K.G. Jebsen senter for hjertetrening ved NTNU kondisjonen mer enn 4600 friske nordmenn i alderen 20-90 år.

Forskerne fant at kvinner og menns </string>
		</dict>
		<dict>
			<key>science_txt</key>
			<string>Normalverdier

Den fysiske formen er svært viktig for lang levetid og god helse, og det maksimale oksygenopptaket (kondis) er det mest presise målet på generell kardiovaskulær form. Fram til nå har det ikke eksistert noe sterkt materiale som beskriver hvilke nivåer av kondisjon som kan forventes i en frisk voksen befolkning. For å undersøke dette, og videre se på hvordan kondisjon henger sammen med de tradisjonelle risikofaktorer testet forskere ved K.G. Jebsen senter for hjertetrening ved NTNU kondisjonen mer enn 4600 friske nordmenn i alderen 20-90 år.

Forskerne fant at kvinner og menns </string>
		</dict>
		<dict>
			<key>science_txt</key>
			<string>Normalverdier

Den fysiske formen er svært viktig for lang levetid og god helse, og det maksimale oksygenopptaket (kondis) er det mest presise målet på generell kardiovaskulær form. Fram til nå har det ikke eksistert noe sterkt materiale som beskriver hvilke nivåer av kondisjon som kan forventes i en frisk voksen befolkning. For å undersøke dette, og videre se på hvordan kondisjon henger sammen med de tradisjonelle risikofaktorer testet forskere ved K.G. Jebsen senter for hjertetrening ved NTNU kondisjonen mer enn 4600 friske nordmenn i alderen 20-90 år.

Forskerne fant at kvinner og menns </string>
		</dict>
	</array>
</dict>
</plist>
